<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Failed</title>
    <link rel="stylesheet" href="assets/styles.css">
</head>
<body>
    <h1 style="color: rgb(172, 49, 49)">Sending failed!</h1>
    <p> 1. Check your password and try again <br><br>
       2.  Application-specific password required. <br><br>
         <a href="https://support.google.com/mail/?p=InvalidSecondFactor o14-20020a056402038e00b0044ef2ac2650sm4100906edv.90 - gsmtp" style="font-size:20px;">Learn more about apllication-specified password</a></p>
    <a href="/" style="text-align: center; width: 120px;margin-bottom: 20px;">Back</a>
    
    <br>



</body>
</html>